@media screen and (min-width : 320px) and (max-width:900px){
  body{
    min-width: 100vw;
    font-size: 10px;
  }
  .list-items span{
    font-size: 12px;
  }
  main{
    overflow-x:hidden;
    max-width: 100%;
  }
.list-items {
  overflow-x:hidden;
  display: grid;
  grid-template-columns: 80px 80px 50px 80px 50px;
}

.list-items img{
  max-height: 30px;
}
}
main{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.list-items{
font-size: 20px;
color: white;
width: 100%;
display: grid;
grid-template-columns: 100px 80px 30px 100px 80px;
text-align: center;
row-gap: 20px;
padding: 20px;
}
.list-items img{
height: 50px;
background: transparent
}
button{
padding: 10px;
margin-top: 5px;
border-radius: 20px;
border: white 1px solid;
color: rgb(255, 255, 255);
background-color: transparent;
font-size: 20px;
cursor: pointer;
transition: all 0.3s linear;
}
button:hover{
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.629);
  box-shadow: 0px 0px 10px rgb(92, 27, 27);

}